name: Build Add-on

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    name: Build aduro-client (no push)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Home Assistant Builder (force lowercase image, no push)
        uses: home-assistant/builder@master
        with:
          args: |
            --test \
            --all \
            --target /github/workspace/aduro-client \
            --image ghcr.io/spaceteddy/ha-addon-aduro-client-{arch}